{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block title %}
        {{parent()}} - {{ 'Modifier mon mot de passe'|trans }}
{% endblock %}
{# fields_errors.html.twig #}
{% block body %}
    <div class="container">
       
        {{ form_start(form, {'attr': {'class': 'form-classic', novalidate: 'novalidate'}}) }}
        {{ form_errors(form) }}
        <h2 class="form-signin-heading">Modifier mon mot de passe</h2>
        
        {{ form_label(form.oldPassword, "Ancien mot de passe") }}
        {{ form_errors(form.oldPassword) }}
        {{ form_widget(form.oldPassword, {'attr':{'class':'form-control'},'placeholder':'Prénom','required':true,'autofocus':true}) }}
        
        {{ form_label(form.password, "Nouveau mot de passe") }}
        {{ form_errors(form.password) }}
        {{ form_widget(form.password, {'attr':{'class':'form-control'},'placeholder':'Prénom','required':true,'autofocus':true}) }}
        
        {{ form_widget(form.modifier, {'attr': {'class': 'btn btn-lg btn-successForm btn-block'}}) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}
    </div>
     
{% endblock %}