{% extends '::base.html.twig' %}
{% block title %}{{parent()}} - Espace Client{% endblock %}
{% block body %}
<div class="container">
    <div class="bonjour">
        Bonjour {{ name }}, et bienvenue dans votre espace CLIENT
    </div>
    <div>
        <br /><br />
        <a class="index" href="{{ path('asmolding_client_listProjects') }}">
            <img src="{{ asset('images/Project_icon_64.png') }}" /> Voir vos projets
        <br />
        {% if is_granted('ROLE_PARTENAIRE') %}
        <a class="index" href="{{ path('asmolding_client_homepage') }}">
            <img src="{{ asset('images/FTP_icon_64.png') }}" /> Envoyer ou recevoir des documents
        </a>
            <br />
        {% endif %}
        <a class="index" href="{{ path('asmolding_client_viewProfile', {'id': app.user.id}) }}">
            <img src="{{ asset('images/Profile_icon_64.png') }}" /> Profil
        </a>
        <br />
    </div>
</div>

{% endblock %}
